.container {
  display: flex;
  position: relative;
  width: 115rem;
  height: 50rem;
  background: #78aeff;
}

.leftSide {
  position: relative;
  top: 0.2rem;
  left: 5rem;
  width: 68.5rem;
}

.leftSide h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 99.19%;
  color: white;
  margin-left: 10rem;
  margin-top: 12rem;
  letter-spacing: 0.025em;
}

.leftSide p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 99.19%;
  letter-spacing: 0.018em;
  color: #ffffff;
  margin-left: 10rem;
  margin-top: 3rem;
}

.rightSide {
  background-color: white;
  position: relative;
  top: 10rem;
  left: 5rem;
  width: 41.4rem;
  margin-left: 5rem;
  margin-top: -8rem;
  margin-bottom: 50rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 0.7rem;
  height: 45rem;
}

form {
  margin-top: 4rem;
}

form input {
  border: 0.1rem solid #000000;
  background: #ffffff;
  border: 0.1rem solid #dadada;
  border-radius: 0.4rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 99.19%;
  letter-spacing: 0.01em;
  color: #777777;
  width: 32.6rem;
  height: 4rem;
  margin: 1rem 4rem;
}

form input::placeholder {
  padding-left: 2rem;
}

input:focus {
  padding-left: 2rem;
}

form select {
  border: 1rem solid #000000;
  background: #ffffff;
  border: 0.1rem solid #dadada;
  border-radius: 0.4rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 99.19%;
  letter-spacing: 0.01em;
  color: #777777;
  width: 33rem;
  height: 4rem;
  margin: 1rem 4rem;
  padding-left: 2rem;
}

.selectedSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  margin-left: 3.3rem;
}

.skillBox {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  padding: 4px 8px;
  background-color: #dcdcdc;
  border-radius: 1.4rem;
  font-size: 1.3rem;
  color: #555555;
  width: 7.4rem;
  margin-right: 1rem;
  height: 2rem;
}

.skillBox button {
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #dcdcdc;
  color: #555555;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .selectedSkills {
    margin-left: 0;
  }

  .skillBox {
    margin-right: 0.5rem;
  }
}

form button {
  background: #b5b5b5;
  box-shadow: 0rem 0.1rem 0rem rgba(0, 0, 0, 0.46);
  border-radius: 0.2rem;
  border-radius: 0.4rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 32.6rem;
  height: 4rem;
  margin: 1rem 4rem;
  border: none;
}

select button .active {
  background-color: #37cc8a;
}

.inactive {
  background: #b5b5b5;
  color: #ffffff;
  cursor: not-allowed;
}

.rightSide p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 99.19%;
  letter-spacing: 0.053em;
  color: #c2c2c2;
  margin: 1rem 5rem;
}

.rightSide p span {
  color: #ff0000;
}
